html {
	font-family: 'Roboto', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	background: #FAFF00;
	color: #1E1E1E;
}

main > .my-name {
	font-family: 'Roboto', sans-serif;
	font-size:  5em;
	font-weight: 600;
  	overflow: hidden;
  	white-space: nowrap; 
  	margin: 0 auto; 
	letter-spacing: .05em; 
	animation: 
	typing 3.5s steps(30, end),
	blink-caret .1s step-end infinite;
}

main > .subtitle {
	font-size: 2rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

main > .icons-social i {
	padding: 10px;
	height: 100px;
	font-size: 2em;
}

main > .icons-social a {
	color: #1E1E1E;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@media (max-width: 939px) {
	main > .my-name {
	animation: 
	typing 1s steps(10, end),
	blink-caret .1s step-end infinite;
}
}
